# Calculator

In mathematics, the Nth harmonic number is defined to be 1 + 1/2 + 1/3 + 1/4 + ... + 1/N. So, the first harmonic number is 1, the second is 1.5, the third is 1.83333... and so on. Write an expression whose value is the 8th harmonic number.

In [153]:
1.0 + 1.0/2.0 + 1.0/3.0 + 1.0/4.0 + 1.0/5.0 + 1.0/6.0 + 1.0/7.0 + 1.0/8.0

2.7178571428571425

Assume that price contains an integer representing the price (in US currency) in cents of an item. Assuming the item is paid for with a minimum amount of change and just single dollars, write an expression for the number of single dollars that would have to be paid.   (// and %)

In [154]:
price = 250
price//100

2

In [155]:
price%100

50

Question: Assume that price is an integer variable whose value is the price (in US currency) in cents of an item. Write codes that prints the value of price in the form "X dollars and Y cents". So, if the value of price was 4321, your code would print "43 dollars and 21 cents". If the value was 501 it would print "5 dollars and 1 cents". If the value was 99 your code would print "0 dollars and 99 cents".

In [156]:
price = 5632
dollars = price // 100
cents = price % 100 
print(f"{dollars} dollars and {cents} cents")

56 dollars and 32 cents

Question: $ u_{z}(x) = R^2{-\frac{(Z-H)}{(x \sin a)^2 + (Z-H)^3}} \frac{4RG+G^2}{4R^2} $

In [157]:
import math
Z = 3.4
H = 8.9
R = -1.2
G = 11

a = 30

In [158]:
x = 0.5
R**2 - ((Z-H)/((x*math.sin(a)+(Z-H)*(Z-H)*(Z-H)))) * ((4*R*G+G*G)/4*R*R)

0.6307664862595082

In [159]:
1+32

33

<b> Question: Calculate the BMI of a person using the formula:

BMI = ( Weight in Pounds / ( ( Height in inches ) x ( Height in inches ) ) ) x 703

Assign the value to the variable bmi. Assume the value of the weight in pounds has already been assigned to the variable w and the value of the height in inches has been assigned to the variable h.

Additional Notes: w = 100 and h=67 should not be modified

What is te bmi?

In [160]:
w = 100  
h = 67 
bmi = (w / (h * h)) * 703
print("BMI:", bmi)

BMI: 15.66050345288483

# Control Flow: if, elif, else

### code block: in if and not in if code block

Question: Given x and y, each assigned an integer value, write a fragment of code that assigns to larger of these with another variable named max_num.

In [161]:
i = 50
if i<50:
    print("bring an umbrella")
    print("good day")
elif i==50:
    print("sunscreen")
else:
    print("as usual")

sunscreen

In [162]:
x, y = 43, 88

if y > x: 
    max_num = y
elif y < x:
    max_num = x
else:
    max_num = x
    print("x and y are equal")
    
print(max_num)

88

In [163]:
x, y = 43, 88
max_num = x
if y > max_num: 
    max_num = y
print(max_num)

88

<b>Question: Given the variables x, y, and z, each assigned an integer value, write a fragment of code that assigns the smallest of these to minimal.
eg, x = 32  y= 56 z=-100

In [164]:
x, y, z = 1,2,3
# x, y, z = 2,1,3
# x, y, z = 2,3,1
minimal = min(x, y, z)

<b>Question: Write an if/else statement that adds 1 to minors if age is less than 18, adds 1 to adults if age is 18 through 64 and adds 1 to seniors if age is 65 or older.

In [165]:
age = 30
minors = 15
adults = 20
seniors = 18

In [166]:
if age < 18:
    minors += 1
elif 18 <= age <= 64:
    adults += 1
else:
    seniors += 1

print("Minors:", minors)
print("Adults:", adults)
print("Seniors:", seniors)

Minors: 15
Adults: 21
Seniors: 18

<b>Given that pH refers to a float, write code that compares pH to 7.0 and makes the following assignments (RESPECTIVELY!) to the variables neutral, base, and acid: 

0,0,1 if pH is less than 7
0,1,0 if pH is greater than 7
1,0,0 if pH is equal to 7

In [167]:
pH = 7.0
neutral, base, acid = 0, 0, 0

if pH < 7:
    acid = 1
elif pH > 7:
    base = 1
else:
    neutral = 1

In [168]:
print("Neutral:", neutral)
print("Base:", base)
print("Acid:", acid)

Neutral: 1
Base: 0
Acid: 0

<b>Question:  
Online Book Merchants offers premium customers 1 free book with every purchase of 5 or more books and offers 2 free books with every purchase of 8 or more books. It offers regular customers 1 free book with every purchase of 7 or more books, and offers 2 free books with every purchase of 12 or more books.

Write a statement that assigns freeBooks the appropriate value based on the values of the boolean variable isPremiumCustomer and the integer variable nbooksPurchased.

 

Additional Notes: isPremiumCustomer and nbooksPurchased should not be modified

In [169]:
isPremiumCustomer = True
nbooksPurchased = 2
freeBooks = 0

if isPremiumCustomer:
    if nbooksPurchased >= 8:
        freeBooks = 2
    elif nbooksPurchased >= 5:
        freeBooks = 1
else:
    if nbooksPurchased >= 12:
        freeBooks = 2
    elif nbooksPurchased >= 7:
        freeBooks = 1


print("Free Books:", freeBooks)

Free Books: 0

# Loops(while and for) break and continue:t he ability to repeate to run a block of code

### while loop

In [170]:
print(0)
print(1)

0
1

In [171]:
n = 10
while n>0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [172]:
n = 0
while n<=10:
    print(n)
    n = n+1

0
1
2
3
4
5
6
7
8
9
10

Question: s = 1+2+3+..+100 using while loop

In [173]:
i = 1
s = 0

while i<=100:
    s = s+i
    i += 1
print(s)

5050

<b>Question: In mathematics, the Nth harmonic number is defined to be 1 + 1/2 + 1/3 + 1/4 + ... + 1/N. So, the first harmonic number is 1, the second is 1.5, the third is 1.83333... and so on. Assume that n is an integer variable whose value is some positive integer N. Assume also that hn is a variable whose value is the Nth harmonic number. Write an expression whose value is the (N+1)th harmonic number.   (hn + 1.0/(n+1))  

Write a while loop get the result of when n = 100

In [174]:
n = 100
hn = 0.0  

while n > 0:
    hn = hn + 1.0 / n
    n -= 1

print( hn)

5.1873775176396215

<b> Question: Given that n=16, use a while loop to compute the sum of the cubes of the first n counting numbers, and assign this value to total. Use no variables other than n, k, and total.

In [175]:
n = 16

k = 1      # Counter for the counting numbers
total = 0  # Variable to store the sum of cubes

while k <= n:
    total += k**3
    k += 1

print(total)

18496

<b>Question:  
Assume there is a variable, h that has already been assigned a positive integer value. Write the code necessary to count the number of perfect squares whose value is less than h, starting with 1. (A perfect square is an integer like 9, 16, 25, 36 that is equal to the square of another integer (in this case 3*3, 4*4, 5*5, 6*6 respectively). Assign the sum you compute to a variable q For example, if h is 19, you would assign 4 to q because there are perfect squares (starting with 1) that are less than h are: 1, 4, 9, 16.

In [176]:
h = 19
q = 0  
i = 1  

while i**2 < h:
    q += 1
    i += 1

print("The number of perfect squares less than", h, "is:", q)

The number of perfect squares less than 19 is: 4

### list and range()

Clunker Motors Inc. is recalling all vehicles in its Extravagant line from model years 1999-2002. Given a variable modelYear (containing a integer) and a variable modelName (containing a string) write a statement that prints the message "RECALL" to standard output if the values of modelYear and modelName match the recall details.

In [177]:
modelYear = 2000
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

RECALL

In [178]:
modelYear = 2003
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

In [179]:
modelYear = 1999
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

RECALL

<b>Question:Create a list named tax_rates, consisting of the following five elements: 0.10, 0.15, 0.21, 0.28, 0.31, in that order.

In [180]:
tax_rates = [0.10, 0.15, 0.21, 0.28, 0.31]

In [181]:
tax_rates[0]

0.1

In [182]:
tax_rates[2]

0.21

In [183]:
tax_rates[-1]

0.31

In [184]:
tax_rates[0:3]

[0.1, 0.15, 0.21]

<b>question: Write a statement that creates a list named denominations consisting of the following six elements: 1, 5, 10, 25, 50, 100 (in that order).

In [185]:
denominations = [1, 5, 10, 25, 50, 100]

In [186]:
temp = list(range(5))
temp

[0, 1, 2, 3, 4]

<b>question: Given the list = [4,2,6,1], insert 2 and 1 to the end of the list

In [187]:
lst = [4,2,6,1]

In [188]:
lst.append(2)

In [189]:
lst

[4, 2, 6, 1, 2]

In [190]:
len(lst)

5

In [191]:
range(len(lst))

range(0, 5)

### for loop

To find the minum number in a list

In [192]:
lst = [4,5,2,3,54,542,64,637,-1]

In [193]:
lst1 = [1,2,4,-1, 0]

In [194]:
min_var = lst[0]
for ele in lst:
    if ele < min_var:
        min_var = ele
        print(min_var)
print(min_var)

2
-1
-1

# function

def function_name(input):     function head
    code body  
    
    return output              return: output

In [195]:
# input is a list
# the function could find the min number of the list
# output is the min number of the list

In [196]:
def min_num(l):    # head of the function
    min_var = l[0]
    for ele in l:
        if ele < min_var:
            min_var = ele
#             print(min_var)
    
    return min_var

In [197]:
l = [1,2,4,-1, 0]   #  input
# how to use the function?     answer: function_name(input)
output = min_num(l)   
print(output)

-1

### Question:   
Write a function named comp, which compares two numbers and return the bigger one   
Input: two numbers   
Output: the bigger number  

Then call the function to get the output

In [198]:
def comp(num1, num2):
    return max(num1, num2)

number1 = 15
number2 = 28

result = comp(number1, number2)
print("The bigger number is:", result)

The bigger number is: 28

### Question:   
Write a function named comp2, which compares 3 numbers and return the bigger one  
Input: 3 numbers  
Output: the bigger number  

Then call the function to get the output

In [199]:
def comp2(num1, num2, num3):
    return max(num1, num2, num3)


output = comp2(-1, 100, -99)
print(output)

100

In [200]:
language = "Python"

In [201]:
for character in language:
    print(character)

P
y
t
h
o
n

Dont print 't'

In [202]:
for character in language:
    if character == 't':
        continue
    print(character)

P
y
h
o
n

stop printing if meet 't'

In [203]:
for character in language:
    if character == 't':
        break
    else:
        print(character)

P
y

### Question:  
write a function named printfruit which print out the fruit one by one  
input: a list of fruits   
no return, only print out these fruits one by one  

for example
fruits = ["apple", "banana", "cherry"]   
"apple"  
"banana"  
"cherry"

In [204]:
def printfruit(fruit_list):
    for fruit in fruit_list:
        print(fruit)
        
fruits = ["apple", "banana", "cherry"]
printfruit(fruits)

apple
banana
cherry

### Question:   
write a function named printchar which print out the char in a string one by one   
input: a string   
no return, only print out these fruits one by one

In [205]:
def printchar(input_string):
    for char in input_string:
        print(char)

my_string = "Hello, World!"
printchar(my_string)

H
e
l
l
o
,

W
o
r
l
d
!

<b>Question:  
Exit the loop when x is "banana", but this time the break comes before the print:

<b>Question:  
Do not print banana: